h1,h2,h3,h4,h5,h6 {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

body{
    background-color: lavender;
}



.main-div {
    background-color: aliceblue;
}

.col-2, .col-4, .col-6 {
    padding-left:5px;
    padding-right:5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-clip: content-box;
    height: 400px;
}
div[class^="col-sm"]{

}

.borderclass {
    background-color: aliceblue;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.flexbox-container {
    display: flex;
    flex-direction: row;
}


input { display: none; }
input + label { display: inline-block }

input ~ .tab { display: none }
#tab1:checked ~ .tab.content1,
#tab2:checked ~ .tab.content2,
#tab3:checked ~ .tab.content3,
#tab4:checked ~ .tab.content4,
#tab5:checked ~ .tab.content5 { display: block; }

input + label {
  border: 1px solid #999;
  padding: 4px 12px;
  border-radius: 4px 4px 0 0;
  position: relative;
  top: 1px;
}
input:checked + label {
  border-bottom: 1px solid transparent;
}
input ~ .tab {
  border-top: 1px solid #999;
  padding: 12px;
}